- content_for :title, " :: " + current_article.title
- file_content = IO.read(current_article.source_file)
- index = file_content.index("\n---") + 4
- article_body = markdown_engine.render(file_content[index..-1])

- wrap_layout :layout do
  .mini-wall
    .profile
      = link_to "/" do 
        %img.img-rounded.profile_image{src: "/images/nacyot.png"}
  
  .row
    .col-lg-2.col-md-1.col-sm-1.col-xs-1
    .col-lg-8.col-md-10.col-sm-10.col-xs-10
      .main
        .articles
          .article
            %span.date
              = current_article.date.strftime('%b %e %Y')
            %h1.title
              = link_to current_article.title, current_article
            .body
              = article_body

            .footer
              %hr
              .author
                %h1 nacyot
                = current_article.data.profile ? current_article.data.profile : "프로그래머(29)"
              .share
                %h1 Share this post
            %hr
            #disqus_thread
              :javascript
                /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
                var disqus_shortname = 'nacyot'; // required: replace example with your forum shortname

                /* * * DON'T EDIT BELOW THIS LINE * * */
                (function() {
                  var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                  dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                  (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                })();
              <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
              <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>


            %br{style: "clear:both"}
    .col-lg-2.col-md-1.col-sm-1.col-xs-1
