- def external_data(name) ; yield_content(name) ? yield_content(name) : ""; end
- def canonical_url; config[:domain] + "/" + (request.path == 'index.html'? '' : request.path.split("index.html")[0]); end
!!!
%html
  %head
    = "<!--"
    = "⣀⡀ ⢀⣀ ⢀⣀ ⡀⢀ ⢀⡀ ⣰⡀"
    = "⠇⠸ ⠣⠼ ⠣⠤ ⣑⡺ ⠣⠜ ⠘⠤"
    = ""
    = "Copyright © 2013- nacyot<Daekwon Kim> All Rights Reserved."
    = "-->"

    %meta{"http-equiv" => "Content-Type", "content" => "text/html; charset=UTF-8"}

    %meta{"name" => "viewport", "content" => "target-densitydpi=device-dpi, width=device-width, maximum-scale=0.9, user-scalable=yes"}

    -# favicon
    %link{href:"/images/favicon.ico" , rel:"shortcut icon", type:"image/x-icon"}

    -# canonical url
    %link{rel: "canonical", href: canonical_url }

    -# feed url
    %link{rel: "alternate", type: "application/rss+xml", href: config[:domain] + "/feed.xml", title: config[:site_title]+ " RSS Feed"}

    - if yield_content(:prev_url)
      %link{rel: "prev", href: external_data(:prev_url), title: external_data(:prev_title)}

    - if yield_content(:next_url)
      %link{rel: "next", href: external_data(:next_url), title: external_data(:next_title)}

    - if yield_content(:canonical)
      %link{name: "robots", content: "noindex,nofollow"}

    - if yield_content(:description)
      %meta{name: "description", content: external_data(:description)}

    -# Google Authorship
    %link{rel: "author", href: "https://plus.google.com/+KimDaekwon"}
    %link{rel: "publisher", href: "https://plus.google.com/+KimDaekwon"}

    -# Twitter Card and Facebook
    %meta{name: "twitter:card", content: "summary"}

    %meta{property: "og:type", content: "article"}

    %meta{name: "twitter:title", content: config[:site_title] + external_data(:title) }
    %meta{property: "og:title", content: config[:site_title] + external_data(:title) }

    - puts external_data(:description)
    %meta{name: "twitter:description", content: external_data(:description) }
    %meta{property: "og:description", content: external_data(:description) }

    %meta{name: "twitter:site", content: config[:author_twitter] }
    %meta{property: "og:site_name", content:"nacyot의 프로그래밍 이야기"}

    %meta{name: "twitter:url", content: canonical_url }
    %meta{property: "og:url", content: canonical_url }

    %meta{name: "twitter:image", content: external_data(:title_image) }
    %meta{property: "og:image", content: external_data(:title_image) }

    %meta{name: "keywords", content: external_data(:keywords)}

    %title= config[:site_title] + external_data(:title)
    = stylesheet_link_tag    "all", :media => "all"
    = javascript_include_tag "all"
    %link{href: 'http://fonts.googleapis.com/css?family=Lato', rel: 'stylesheet', type: 'text/css'}

    :javascript
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-46785477-2', 'auto');
      ga('send', 'pageview');
  %body
    = partial "layouts/header"
    -# = partial "layouts/sidebar"
    = yield
    = partial "layouts/footer"
