.article
  %span.date
    %i.fa.fa-calendar
    = article.date.strftime('%b %e %Y')
  %span.tags
    - article.tags.each do |tag|
      %i.fa.fa-tag
      %a{href: "/tags/#{tag.split(" ").join("-")}"}= tag

  %h2.title
    = article_title_tag(article)
  %div.summary
    = article.summary.gsub(/\[?\[((.*?)(\|.*?)?)\]?\]/, '\2')
  %span.more= more_read_link_tag(article)

