- parsed_article = ArticleWithCustomEngine.new(article.source_file)
.summary_card
  %div
    %span.date
      %i.fa.fa-calendar
      -#= article.date.strftime('%b %e %Y')
      = article.date.strftime('%Y년 %m월 %d일 발행')

  %h1.title
    = article_title_tag(article)

  %div.summary
    - if article.data.title_image
      .title-image-wrapper
        = image_tag article.data.title_image, class: 'title-image'
    = parsed_article.summary
    %span.link
      = link_to "계속 읽기", article
      -#= article.summary.gsub(/\[?\[((.*?)(\|.*?)?)\]?\]/, '\2').gsub(/<.*?>/, "").tr("`*", "").gsub("\n\n", "<br/>")
  -# %span.more= more_read_link_tag(article) + ""
  .tags
    - article.tags.sort.each do |tag|
      %i.fa.fa-tag
      %a{href: "/tags/#{tag.split(" ").join("-")}"}= tag

  .barcode
    %img{src: 'http://imgur.com/uebOih3.png'}



