.summary_card
  %div
    %span.date
      %i.fa.fa-calendar
      = article.date.strftime('%b %e %Y')

  %h2.title
    = article_title_tag(article)
  %div.summary
    - if article.data.description
      = article.data.description
    - else
      = article.summary.gsub(/\[?\[((.*?)(\|.*?)?)\]?\]/, '\2').gsub(/<.*?>/, "").tr("`*", "")
  %span.more= more_read_link_tag(article) + " ->"
  .tags
    - article.tags.sort.each do |tag|
      %i.fa.fa-tag
      %a{href: "/tags/#{tag.split(" ").join("-")}"}= tag

