---
pageable: true
per_page: 30
---
.wall
  .profile
    = link_to "/" do 
      %img.img-rounded.profile_image{src: "/images/nacyot.png"}
  %h1.title
    nacyot의 프로그래밍 이야기
  .description  

.main
  .articles
    - page_articles.each_with_index do |article, i|
      .article
        %span.date
          = article.date.strftime('%b %e %Y')
        %h2.title
          = article_title_tag(article)
        %div.summary= article.summary
        %span.more= more_read_link_tag(article)

  - if paginate
    - if prev_page
      = link_to 'Prev page', prev_page
    - if next_page
      = link_to 'Next page', next_page
